@media screen and (min-width: 0px) {

    body {
        margin: 0;
        padding: 0;
        font-family: 'Archivo', sans-serif;
        overflow-x: hidden;
    }
    
    div#pagina {
        margin: 5px;
    }
    
    div.header {
        background-color: rgb(12, 70, 22);
        padding: 0;
        margin: 0;
    }
    
    ul.header-info, ul.midden-info {
        list-style-type: none;
    }
    
    i {
        margin: 5px;
    }

    ul.header-info > li, ul.midden-info > li {
        text-align: center;
        display: inline;
        margin-right: 50px;
    }

    ul.header-info, ul.midden-info {
        display: none;
    }

    i.fa-list-ul,
    i.fa-list-alt {
        padding: 10px;
        width: 15px;
        height: 15px;
    } 
    
    .midden {
        display: grid;
        grid-template-rows: 50px 50px;
    }

    img.logo {
        width: 200px;
        height: 75px;
        grid-row: 1;
    }

    .contact {
        border: none;
        background-color: rgb(12, 70, 22);
    }

    .contact:focus + .dropdown-content {
        display: inline;
    }
    
    .dropdown-content {
        list-style-type: none;
        display: none;
    }

    .bewijzen {
        width: 50px;
        border: none;
        background-color: white;
        grid-row: 1;
    }

    .bewijzen-drop {
        list-style-type: none;
        display: none;
        background-color: white;
        z-index: 99;
    }

    .bewijzen-drop > li {
        background-color: white;
        width: 200px;
    }

    .bewijzen:focus + .bewijzen-drop {
        display: table;
    }

    #slideshow {
        z-index: -1;
        overflow: hidden;
        height: 350px;
        width: 350px;
        margin: 0 auto;
      }
      
      .slide-wrapper {
        width: 2912px;
        -webkit-animation: slide 18s ease infinite;
      }
      
      .slide {
        float: left;
        height: 510px;
        width: 728px;
      }
      
      .slide:nth-child(1) {
        background-image: url(../img/rijschool1.png);
      }
      
      .slide:nth-child(2) {
        background-image: url(../img/rijschool2.png);
      }
      
      .slide:nth-child(3) {
        background-image: url(../img/rijschool3.png);
      }

      @-webkit-keyframes slide {
        20% {margin-left: 0px;}
        30% {margin-left: -728px;}
        50% {margin-left: -728px;}
        60% {margin-left: -1456px;}
        70% {margin-left: -1456px;}
        80% {margin-left: -2184px;}
        90% {margin-left: -2184px;}
      }

      h1.blok-head {
          border-bottom: 1px solid rgba(128, 128, 128, 0.301);
          color: rgb(128, 128, 128);
          margin-bottom: 10px;
          margin-left: 10px;
          font-weight: lighter;
          font-size: 25px;
      }

      h1 > i {
          color: rgb(128, 128, 128);
      }

      div.knop1 {
          background-color: rgb(255, 217, 0);
          width: 300px;
          height: 20px;
          padding: 10px;
          text-align: center;
          margin: 0 auto;
      }

      p {
          margin: 0 auto;
          margin-bottom: 25px;
          margin-left: 20px;
          margin-right: 20px;
      }
      
    span.knop1-dik {
        margin-top: 25px;
        font-weight: bold;
    }

    iframe {
        display: block;
        margin: 15px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px){
    div.header {
        height: 50px;
        position: fixed;
        min-width: 2000px;
    }

    .slide {
        margin-top: 150px;
    }

    .bewijzen {
        display: none;
    }
    
    .bewijzen-drop {
        display: none;
    }

    ul.header-info {
        display: list-item;
        margin: 10px;
        padding-right: 200px;
        font-size: 20px;
        height: 50px;
        float: right;
    }

    div.midden {
        display: grid;
        grid-template-columns: auto auto;
    }

    img.logo {
        grid-column: 1;
        width: 300px;
        height: 250px;
        margin-left: 500px;
    }

    ul.midden-info {
        display: list-item;
        grid-column: 2;
    }

    ul.midden-info {
        margin-top: 100px;
        font-size: 20px;
        color: rgb(128, 128, 128);
    }

    i.fa-list-ul {
        display: none;
    }

    #slideshow {
        overflow: hidden;
        position: relative;
        height: 500px;
        width: 1000px;
        margin: 0 auto;
      }

    div.bloks {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: 150px;
        margin-right: 150px;
    }
    
    div.blok1, div.blok2, div.blok3 {
        max-width: 500px;
    }

    iframe {
        width: 700px;
        height: 500px;
    }

}